.city-wrapper {
  display: flex;
  justify-content: center; 
}

.city-wrapper > div {
  width: 400px;
  height: 300px;
  background-position: center;
  background-size: 100% 100%; 
  background-repeat: no-repeat;
  margin: 30px auto;
  cursor: pointer;
}

.berlin {
  background-image: url('../../../assets/img/tasks/cities/berlin.jpg');
}

.london {
  background-image: url('../../../assets/img/tasks/cities/london.jpg');
}

.minsk {
  background-image: url('../../../assets/img/tasks/cities/minsk.jpg');
}

.moscow {
  background-image: url('../../../assets/img/tasks/cities/moscow.jpg');
}

.new-york {
  background-image: url('../../../assets/img/tasks/cities/new-york.jpg');
}

.paris {
  background-image: url('../../../assets/img/tasks/cities/paris.jpg');
}

.praha {
  background-image: url('../../../assets/img/tasks/cities/praha.jpg');
}

.rome {
  background-image: url('../../../assets/img/tasks/cities/rome.jpg');
}

.saint-petersburg {
  background-image: url('../../../assets/img/tasks/cities/saint-petersburg.jpg');
}

.warsaw {
  background-image: url('../../../assets/img/tasks/cities/warsaw.jpg');
}

.wien {
  background-image: url('../../../assets/img/tasks/cities/wien.jpg');
}