section.home-screen {
  background-color: #06f;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 7%;
}

.home-screen header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.game-title h1 {
  font-size: 3.5rem;
  text-align: center;
  color: #ff8533;
}

.hero-logo img {
  width: 236px;
  height: 300px;
}

.enemy-logo img {
  width: 207px;
  height: 300px;
}

.header-logo {
  text-align: center;
}

.header-logo img {
  width: 226px;
  height: 75px;
}

.description h2, 
.score-section h2 {
  text-align: center;
  margin: 0 auto 20px auto;
}

.description p {
  line-height: 1.2;
}

.menu-wrapper {
  margin-top: 30px;
}

section.navigation {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.navigation button {
  padding-bottom: 20px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #ff6;
  color: #06f;
}

.navigation button:hover {
  color: #00004d;
}

.score-section {
  position: relative;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  color: #000;
  padding-bottom: 10px;
}

.score-container {
  width: 60%;
  text-align: center;
}

.score-container ol li {
  padding: 10px;
  border-bottom: 2px solid #00004d;
}

.score-container ol li:last-child {
  border-bottom: none;
}

.score-item {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}