section.hero-creation-screen {
  background-color: #06f;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.5rem;
  padding: 0 7%;
}

.hero-creation-screen h2 {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-top: 10px;
}

.hero-creation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
  margin: 0 auto;
}

section.hero-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.player-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#player-name-input {
  margin: 15px 0;
  padding: 10px;
  border: 2px solid #00004d;
  border-radius: 5px;
  text-align: center;
  text-transform: uppercase;
}

section.hero-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hero-options h3 {
  text-align: center;
  margin-bottom: 10px;
}

.hero-figure-container {
  width: 512px;
  height: 512px;
}

.submit {
  margin-top: 30px;
  text-align: center;
}

.submission-warning {
  color: #ff8533;
  margin-bottom: 15px;
}

.submit-button {
  padding: 7px 20px 10px;
  color: #06f;
  background-color: #ff6;
  cursor: pointer;
  text-transform: uppercase;
}

.submit-button:hover {
  color: #00004d;
}