section.battle-screen {
  position: relative;
  min-height: 100vh;
  color: #fff;
  background: #06f url('../../assets/img/screens/battle/bg.png') 50% 100% no-repeat;
  background-size: 100% 100%;
  font-size: 1.5rem;
}

section.battle-screen div, 
section.battle-screen span,
section.battle-screen h1, 
section.battle-screen h2, 
section.battle-screen p, 
section.battle-screen img, 
section.battle-screen section {
  margin: 0;
  padding: 0;
}

.battle-field-header {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  text-transform: uppercase;
}

.player-name {
  width: 40%;
}

.enemy-name {
  width: 40%;
  text-align: right;
}

.health-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.hero-health-bar {
  height: 30px;
  border: 2px solid #fff;
}

.enemy-health-bar {
  height: 30px;
  border: 2px solid #fff;
  transform: scaleX(-1);
}

.attack-button-container {
  position: relative;
  width: 100vw;
  height: 150px;
}

.attack-button {
  height: 120px;
  width: 120px;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #699;
  border-radius: 50%;
  color: #033;
  position: absolute;
  top: 50%;
  left: 50vw;
  margin-top: -60px;
  margin-left: -60px;
}

.attack-button:hover {
  transform: scale(1.1);
  background-color: #ff8533;
  cursor: pointer;
}

.win-game-buttons-block button {
  margin: 0 20px;
  color: #033;
  text-align: center;
}

.win-game-buttons-block button:hover {
  background-color: #ff8533;
  cursor: pointer;
}

.lose-game-window button {
  color: #033;
  text-align: center;
}

.lose-game-window button:hover {
  background-color: #ff8533;
  cursor: pointer;
}

.hero-container {
  position: absolute;
  bottom: 100px;
  left: 100px;
  width: 532px;
  height: 532px;
}

.enemy-container {
  position: absolute;
  bottom: 100px;
  right: 100px;
  width: 532px;
  height: 532px;
  transform: scaleX(-1);
}