
.head-0 {
  background-image: url("img/head/0.png");
}

.head-1 {
  background-image: url("img/head/1.png");
}

.head-2 {
  background-image: url("img/head/2.png");
}

.body-0 {
  background-image: url("img/body/0.png");
}

.body-1 {
  background-image: url("img/body/1.png");
}

.body-2 {
  background-image: url("img/body/2.png");
}