.config-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 400px;
}

.config-item-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 2px solid #00004d;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.config-item-image:hover {
  transform: scale(1.1);
}

.hero-figure {

}