.config-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 30%;
}

.config-item-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border: 2px solid #00004d;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}

.config-item-image:hover {
  background-color: #ff8533;
}

.hero-figure {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 532px;
  height: 532px;
}