.attack-container {
  display: flex;
  justify-content: space-around;
  min-width: 600px;
  margin-top: 50px;
}

.attack-item {
  border: 2px solid #033;
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.attack-item:hover {
  transform: scale(1.1);
  border: 2px solid #ff8533;
}

.attack-1 {
  background: url('img/explosion-attack.png') 50% 100% no-repeat;
}

.attack-2 {
  background: url('img/acid-attack.png') 50% 100% no-repeat;
}