.attack-container {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin-top: 50px;
}

.attack-item {
  border: 2px solid #033;
  width: 200px;
  height: 100px;
  text-align: center;
  padding: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}

.attack-item:hover {
  transform: scale(1.1);
  border: 2px solid #06f;
}

.attack-gun {
  background: url('../../assets/img/screens/attack-selection/gun-attack.png') 50% 70% no-repeat;
}

.attack-sword {
  background: url('../../assets/img/screens/attack-selection/sword-attack.png') 50% 70% no-repeat;
}

.task-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;
}

.task-item {
  border: 2px solid #033;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
  margin: 15px;
}

.task-item:hover {
  transform: scale(1.1);
  border: 2px solid #06f;
}